@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=El+Messiri:wght@400;500;600;700&display=swap');
@import url("banner.css");
@import url("navbar.css");
@import url("accueil.css");
@import url("footer.css");
@import url("mentions-legales.css");
@import url("nous.css");
@import url("contact.css");

body {
	margin: 0;
	font-family: El Messiri;
	background-color: whitesmoke;
}

h1, h2, h3 {
	font-family: "Cinzel Decorative";
}